table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.w20 {
  width: 20%;
}

.w40 {
  width: 40%;
}

ol {
  padding-inline-start: 0;
  list-style-position: inside;
}

ol li > h2:first-child, ol li > p:first-child {
  display: inline;
}