main p,
main h1 {
  margin: 0 0 1em;
}

h1 {
  font-size: 4vw;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 4vw;
  text-transform: uppercase;
}

main {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1em;
  padding: 30px 15px;
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

table.capitalize-th th {
  text-transform: capitalize;
}

th, td {
  vertical-align: top;
  padding: 0;
}

.w5 {
  width: 5%;
}

.w20 {
  width: 20%;
}

.w33 {
  width: 33%;
}

.w40 {
  width: 40%;
}

.w66 {
  width: 66%;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.text-transform-none {
  text-transform: none;
}

ol.inside-list-style-position {
  list-style-position: inside;
}

ol.inside-list-style-position li > h2:first-child, ol li > p:first-child {
  display: inline;
}

ol.outside-list-style-position {
  margin-left: 20px;
  list-style-position: outside;
}