footer {
  padding: 50px 15px;
}

.footer-menu {
  margin-top: 30px;
  padding-bottom: 10px;
}

footer .logo {
  padding-top: 0;
}

.footer-menu li a {
  display: block;
  margin-bottom: 20px;
  margin-right: 40px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  opacity: 0.32;
}

.footer-menu li:last-child a {
  margin-right: 0;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.footer-social em {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer-social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer-social a {
  display: block;
  margin-right: 12px;
}

.footer-social li:last-child a {
  margin-right: 0;
}

.social-button {
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: block;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 1px solid #333333;
  border-radius: 50%;
}

.social-button.fb:hover {
  background-color: #0056b3;
}

.social-button.instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-button.in:hover {
  background-color: #007bb5;
}

.social-icon {
  display: block;
  height: 34px;
  background: no-repeat center center;
}

.social-icon-fb {
  background-image: url(https://careers.gismart.com/wp-content/themes/2019/img/fb.svg);
}

.social-icon-instagram {
  background-image: url(https://careers.gismart.com/wp-content/themes/2019/img/inst.svg);
}

.social-icon-in {
  background-image: url(https://careers.gismart.com/wp-content/themes/2019/img/in.svg);
}

.social-icon:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer-bottom address,
.footer-bottom small {
  display: block;
  box-sizing: border-box;
  margin-bottom: 30px;
  color: rgba(51, 51, 51, 0.3);
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

@media (min-width: 730px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-top {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  .footer-menu {
    display: -webkit-box;
    display: flex;
    width: 100%;
    order: 1;
    -webkit-box-ordinal-group: 2;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 0;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .footer-menu li a {
    margin-bottom: 0;
  }
  .footer-social {
    display: -webkit-box;
    display: flex;
    margin-bottom: 0;
    -webkit-box-align: center;
            align-items: center;
  }
  .footer-social em {
    padding-right: 20px;
    margin-bottom: 0;
  }
  .footer-bottom {
    padding-top: 50px;
    text-align: center;
  }
}

@media (min-width: 990px) {
  footer .logo img {
    width: 174px;
  }
  .footer-social em {
    font-size: 22px;
    padding-right: 30px;
  }
  .footer-menu li a {
    font-size: 18px;
  }
}

@media (min-width: 1249px) {
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-menu {
    width: auto;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 1;
            order: 0;
    padding-top: 0;
    padding-left: 5%;
  }
  .footer-menu li {
    margin-right: 4%;
  }
  .footer-menu li a {
    margin-right: 0;
  }
  .footer-bottom address,
  .footer-bottom small {
    font-size: 16px;
    margin-bottom: 10px;
  }
}