.header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  background-color: rgba(0,0,0,.95);
}

.header .menu-button {
  font-size: 0;
  width: 18px;
  height: 12px;
  background: linear-gradient(to bottom, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  border: none;
  cursor: pointer;
}

.header-navigation {
  display: none;
  position: absolute;
  padding-bottom: 20px;
  top: 60px;
  left: 0;
  right: 0;
  background: #333333;
}

.header-navigation ul {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 0;
}

.header-navigation li {
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
}

.header-navigation a,
.header-navigation span {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.sub-menu {
  /* display: none; */
  padding: 10px 0;
}

@media (min-width: 730px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 990px) {
  .header .logo img {
    width: 131px;
  }
}

@media (min-width: 1249px) {
  .header .menu-button {
    display: none;
  }
  .header-navigation {
    display: block;
    position: static;
    background: transparent;
  }
  .header-navigation ul {
    display: flex;
  }

  .header-navigation a:hover,
  .header-navigation a:active {
    color: #ffffff;
  }

  .header-navigation a {
    position: relative;
  }

  .header-navigation a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
    height: 4px;
    background: #ffc107;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }

  .header-navigation a:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .header-navigation li:hover > .sub-menu {
    display: flex;
  }

  .header-navigation span {
    background: transparent;
    position: relative;
    z-index: 2;
  }

  .header-navigation span:hover::before,
  .header-navigation li:hover > span::before
   {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: -1;
    background: #333333;
    border-radius: 15px;
  }

  .header-navigation .sub-menu {
    display: none;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    background: #333333;
    margin-left: -20px;
    padding: 20px;
    border-radius: 20px;
  }
  .sub-menu li {
    text-align: left;
  }
}