.header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  background-color: rgba(0,0,0,.95);
}

.header .menu-button {
  font-size: 0;
  width: 18px;
  height: 12px;
  background: linear-gradient(to bottom, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  border: none;
  cursor: pointer;
}

.header-navigation {
  display: none;
  position: absolute;
  padding-bottom: 20px;
  top: 60px;
  left: 0;
  right: 0;
  background: #333333;
}

.header-navigation ul {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 0;
}

.header-navigation li {
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
}

.header-navigation a,
.header-navigation span {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.sub-menu {
  /* display: none; */
  padding: 10px 0;
}

@media (min-width: 730px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 990px) {
  .header .logo img {
    width: 131px;
  }
}

@media (min-width: 1249px) {
  .header .logo {
    padding-top: 0;
  }
  .header .menu-button {
    display: none;
  }
  .header-navigation {
    display: block;
    position: static;
    background: transparent;
  }
  .header-navigation ul {
    display: flex;
  }

  .header-navigation > ul li:last-child {
    padding-right: 0;
  }

  .header-navigation a:hover,
  .header-navigation a:active {
    color: #ffffff;
  }

  .header-navigation a {
    position: relative;
  }

  .header-navigation > ul > li > a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
    height: 4px;
    background: #ffc107;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }

  .header-navigation > ul > li > a:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .header-navigation li:hover > .sub-menu {
    display: flex;
  }

  .header-navigation span {
    background: transparent;
    position: relative;
    z-index: 2;
  }

  .header-navigation span:hover::before,
  .header-navigation li:hover > span::before
   {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: -1;
    background: #333333;
    border-radius: 15px;
  }

  .header-navigation .sub-menu {
    display: none;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    background: #333333;
    margin-left: -20px;
    padding: 20px;
    border-radius: 20px;
  }
  .sub-menu li {
    text-align: left;
  }
  .sub-menu a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    width: 100%;
    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PG1hc2sgaWQ9Im1hc2swIiBtYXNrLXR5cGU9ImFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTEiIGhlaWdodD0iMTMiPjxyZWN0IHdpZHRoPSIxMSIgaGVpZ2h0PSIxMyIgZmlsbD0idXJsKCNwYXR0ZXJuMCkiLz48L21hc2s+PGcgbWFzaz0idXJsKCNtYXNrMCkiPjxyZWN0IHg9Ii0wLjUiIHk9Ii0wLjUiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNCIgZmlsbD0id2hpdGUiIHN0cm9rZT0id2hpdGUiLz48L2c+PGRlZnM+PHBhdHRlcm4gaWQ9InBhdHRlcm4wIiBwYXR0ZXJuQ29udGVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgd2lkdGg9IjEiIGhlaWdodD0iMSI+PHVzZSB4bGluazpocmVmPSIjaW1hZ2UwIiB0cmFuc2Zvcm09InNjYWxlKDAuMDA1KSIvPjwvcGF0dGVybj48aW1hZ2UgaWQ9ImltYWdlMCIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBTWdBQUFESUNBWUFBQUN0V0s2ZUFBQUFBWE5TUjBJQXJzNGM2UUFBQnNWSlJFRlVlQUh0M2JtT0hFVVlCM0JiUmdLSjFEaENDQklnSTBCSUlFUklBZ0duSlk2TVp5RGhIVWdSSXVVRlFNWVFFRUZBZ0JDSmdWZkFHZUtJTUNENEN0VFdlTmllN2FPT1BuNHRsV1oycHF1cSsvZlZmM2QycHUyOWNNRkdnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRSUVDQkFnQUFCQWdRbUNseWMySzlrdDNSTXowUjdMdHJEMGU2TzltTzByNko5Rk8yWGFMYjFDcVQ2UGgzdCtXaVBSRXYxdlJtdHErL1BjZC9XSS9CRVBQNXR0TDk3V2dySDI5RXVSYk90VCtEeE9PUnZvdlhWOTdkNDdwMW9kMFd6SFFsY2phOXZSZXZETzN6ODQ5Z3ZmZWV4clVmZ2xUalUzNk1kMXJIdi9tZXgzejNyT2JYeVIvcFVUUEZIdEQ2d3N4Ny9OUFlYa3ZLMXlURkQrdWIzWjdTejZ0ajMySWM1SnQ3Q0dPbmwwZzhqOFRwVUlWbitDcGdTanE2K3p5Ny85TW9mWWZwbHZBT1pjaXNrNVdzMGRZWTU0VWhyNGZPcEUyK3AzL3R4TWxPQ2NkaEhTSmEzSXVhR0k5VTN2U3k3ZDNtblZ2ZUl2b2pwRGhmNzFQdENVcmR1cDJiTEVZNXVIVHgyYXFJOVBQZDFuR1NITWZkV1NOcXZtSnpoU092aHlmYW4xUFlJcnNYMGM0TngyRjlJMnRVemR6aFNYUjlxZHpyTG1EbDlNSFM0d0hQY0Y1TDZ0WDAxcGh6N1Z1NTV0VTZmc0MveGFvK3F1Zy9HYkg5Rk93OXI3UE5DVXErTUpjS1I2djF1dlZOWTlrenZ4ZUdORGNDUS9ZV2tmTjFMaGVPbk9QUXI1UTkvSFRPa3QvSk9YWU0xSkF4OSt3aEp1VFZRS2h6cHBWcjZmTXgySUhBNTd0K0kxcmZRNXp3dUpBZlFtZTZXQ2tkNnVmMWFwbVBjM0RCQ3NvNlNDa2ZET2dsSlEvd0JVd3ZIQUtUU3U1UU15ZlU0ZUZjQlQ2dGd1bVE5OTF1NTZhV3psMVVUNmlFa0U5QUtkaEdPZ3JoVGh4YVNxWEo1K3dsSFhzK3Nvd2xKVnM3Umd3bkhhTEw2SFlTa3ZubWFVVGphdUUrYVZVZ21zVTN1SkJ5VDZkcDFGSkk2OXNKUng3bklMRUpTaFBYMm9Da2NZLzhEalNGWE9YZ3I5elp4K1R0Q1VzWllPTXE0TmhsVlNQS3lDMGRlejBXTUppUjV5aUFjZVJ3WE9ZcVF6Q3VMY016elcwWHYrK0lvUzEwcWZ6M0czdXExV3kvSHVaWDZoZnoxVmF5Y0hSMWt5WkI4c3NHUUNNZU93dEdkcXBCMEVxZHZoZU8wejZhZkZaTFQ1UldPMHo2N2VGWkl6aTZ6Y0p6dHNzdEhoZVRPc2d2SG5SNitDZ0VoK1c4WkNJYzQ5QXJzUFNRdmhZeTNjbnVYaHllU3dGNURJaHpXLzJDQnZZVkVPQVl2RFR0MkFuc0ppWEIwRlhjN1dtRHJJUkdPMFV0Q2gyT0JyWVpFT0k0cjdldkpBbHNMaVhCTVhnbzY5Z2xzSlNUQzBWZGhqODhXU0NINUx0cVFmMWM5ZHA5ck1XN3BTK1ZmakRsS2ZjN3hSb3h0SS9EdjV5UnJESWx3V0x6VkJOYjJrMFE0cWkwTkUzVUNhd21KY0hRVmMxdGRZT2toRVk3cVM4S0V4d0pMRFlsd0hGZksxODBFbGhZUzRXaTJGRXpjSjdDVWtMd1FCK2l0M0w0cWVieXBRT3VRQ0VmVDhwdDhpRUNya0FqSGtPcllaeEVDdFVNaUhJc291NE1ZSTFBckpNSXhwaXIyWFpSQTZaQmNqYlAxQy9taVN1NWd4Z3FVRE1uWUN5S0g3Si8rZUkwTEQ4ZFcyZjZ6Qk5ZU0V1R1lWV2FkNXdoY2ljNmxyZ0llOHBQaHZIMVNPTjZjYzRMNkVwZ3JzTlNRQ01mY3l1cWZUV0JwSVJHT2JLVTFVQzZCcFlSRU9ISlYxRGpaQlZxSFJEaXlsOVNBdVFWYWhVUTRjbGZTZU1VRWFvZEVPSXFWMHNDbEJHcUZSRGhLVmRDNHhRVktoMFE0aXBmUUJLVUZTb1ZFT0VwWHp2alZCSEtIUkRpcWxjNUV0UVJ5aFVRNGFsWE1QTlVGNW9aRU9LcVh6SVMxQmFhR1JEaHFWOHA4elFUR2hrUTRtcFhLeEswRUxzZkVYMFk3NzVMMVgyT2Y5T2NOYkFSMkozQXB6dml0YU45SE93NUtDc1lIMGU2UFptc2tjTEhSdktiOXY4QUQ4ZENqMGRMZkU3a1o3VWEwVzlGc0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQ0JBZ1FJRUNBQUFFQzV3cjhBNVNsVXBvcjMvd3FBQUFBQUVsRlRrU3VRbUNDIi8+PC9kZWZzPjwvc3ZnPg==) no-repeat center center;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }
  .sub-menu a:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}