@import 'header.css';
@import 'footer.css';
@import 'content-area.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vw;
  /* line-height: 1.7em; */
  color: #212529;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

::-moz-selection {
  background-color: #ade1f5;
  color: #ffffff;
}

::selection {
  background-color: #ade1f5;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #5786ff;
}

a:visited {
  color: #5786ff;
}

a:hover {
  color: #0056b3;
}

a:active {
  color: #0056b3;
}

hr {
  color: #333; 
  opacity: 0.5; 
  margin: 0
}

.logo {
  line-height: 0;
  padding-top: 10px;
  margin-right: 15px;
}

.logo img {
  width: 80px;
  height: auto;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

@media (min-width: 770px) {
  body, h1, h2 {
    font-size: 16px;
  }
}

@media (min-width: 990px) {
  body, h1, h2 {
    font-size: 18px;
  }
}