@import 'header.css';
@import 'footer.css';
@import 'content-area.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vw;
  line-height: 1.7em;
  color: #212529;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5786ff;
}

a:visited {
  color: #5786ff;
}

a:hover {
  color: #0056b3;
}

a:active {
  color: #0056b3;
}

.logo {
  line-height: 0;
  padding-top: 10px;
  margin-right: 15px;
}

.logo img {
  width: 80px;
  height: auto;
}

/* .container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 729.98px) {
  .container {
      padding-right: 20px;
      padding-left: 20px;
  }
} */